<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.js"></script>

</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-container>
                <v-card>
                    <v-toolbar color="primary" dark flat>
                        <v-toolbar-title>Watchlist</v-toolbar-title>
                    </v-toolbar>
                    <v-tabs v-model="tab" background-color="transparent" align-with-title>
                        <v-tab href="#tab-1">
                            Label
                        </v-tab>
                        <v-tab href="#tab-2">
                            Login
                        </v-tab>
                        <v-tab href="#tab-3">
                            Linked Accounts
                        </v-tab>
                        <v-tab href="#tab-4">
                            History Login
                        </v-tab>
                        <v-tab href="#tab-5">
                            Setting
                        </v-tab>
                    </v-tabs>

                    <v-tabs-items v-model="tab">
                        <v-tab-item :key="1" :value="'tab-1'">
                            <v-col cols="12">
                                <v-row>
                                    <v-col cols="9">
                                        <v-card class="mb-3" :elevation="10">
                                            <v-data-table :headers="headers" :items="desserts" dense disable-pagination
                                                hide-default-footer></v-data-table>
                                        </v-card>
                                    </v-col>

                                    <v-col cols="3">
                                        <v-card class="mb-3" :elevation="10">
                                            <v-card-title>
                                                Comment History By A Label
                                                <v-spacer></v-spacer>
                                            </v-card-title>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-06-01 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-divider></v-divider>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-05-31 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test 1</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-divider></v-divider>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-05-30 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test 2</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-tab-item>
                        <v-tab-item :key="2" :value="'tab-2'">
                            <v-col cols="12">
                                <v-row>
                                    <v-col cols="9">
                                        <v-card class="mb-3" :elevation="10">
                                            <v-data-table :headers="headers2" :items="login" dense disable-pagination
                                                hide-default-footer></v-data-table>
                                        </v-card>
                                    </v-col>

                                    <v-col cols="3">
                                        <v-card class="mb-3" :elevation="10">
                                            <v-card-title>
                                                Comment History By AU-10098
                                                <v-spacer></v-spacer>
                                            </v-card-title>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-06-01 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-divider></v-divider>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-05-31 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test 1</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-divider></v-divider>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-05-30 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test 2</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-tab-item>
                        <v-tab-item :key="3" :value="'tab-3'">
                            123
                        </v-tab-item>
                        <v-tab-item :key="4" :value="'tab-4'">
                            <v-col cols="12">
                                <v-row>
                                    <v-col cols="9">
                                        <v-card class="mb-3" :elevation="10">
                                            <v-data-table :headers="headers2" :items="login" dense disable-pagination
                                                hide-default-footer></v-data-table>
                                        </v-card>
                                    </v-col>

                                    <v-col cols="3">
                                        <v-card class="mb-3" :elevation="10">
                                            <v-card-title>
                                                Comment History By AU-10098
                                                <v-spacer></v-spacer>
                                            </v-card-title>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-06-01 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-divider></v-divider>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-05-31 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test 1</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                            <v-divider></v-divider>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Tom - 2020-05-30 00:00:00</v-list-item-title>
                                                    <v-list-item-subtitle>test 2</v-list-item-subtitle>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-tab-item>
                        <v-tab-item :key="5" :value="'tab-5'">
                            12345
                        </v-tab-item>

                    </v-tabs-items>
                </v-card>
            </v-container>
        </v-app>
    </div>

    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    tab: 'tab-1',
                    headers: [
                        { text: 'Label', value: 'label' },
                        { text: 'Time', value: 'time' },
                        { text: 'Deposit', value: 'deposit' },
                        { text: 'Withdraw', value: 'withdraw' },
                        { text: 'Rebate', value: 'rebate' },
                        { text: 'Drawdown', value: 'drawdown' },
                        { text: 'Comment', value: 'comment' },
                    ],
                    desserts: [
                        {
                            label: 'A',
                            time: '2020-06-01 00:00:00',
                            deposit: 159.1,
                            withdraw: 6.5,
                            rebate: 24,
                            drawdown: 4.4,
                            comment: 'test (view history)',
                        },
                        {
                            label: 'B',
                            time: '2020-06-01 00:00:00',
                            deposit: 59.1,
                            withdraw: 16.5,
                            rebate: 22.4,
                            drawdown: 4.4,
                            comment: 'test (view history)',
                        },
                        {
                            label: 'C',
                            time: '2020-06-01 00:00:00',
                            deposit: 1232359.1,
                            withdraw: 16.5,
                            rebate: 2224,
                            drawdown: 24.4,
                            comment: 'test (view history)',
                        }
                    ],
                    headers2: [
                        { text: 'Server', value: 'server' },
                        { text: 'login', value: 'login' },
                        { text: 'Label', value: 'label' },
                        { text: 'Time', value: 'time' },
                        { text: 'Deposit', value: 'deposit' },
                        { text: 'Withdraw', value: 'withdraw' },
                        { text: 'Rebate', value: 'rebate' },
                        { text: 'Drawdown', value: 'drawdown' },
                        { text: 'Comment', value: 'comment' },
                    ],
                    login: [
                        {
                            server: 'AU',
                            login: 10098,
                            label: 'A',
                            time: '2020-06-01 00:00:00',
                            deposit: 159.1,
                            withdraw: 6.5,
                            rebate: 24,
                            drawdown: 4.4,
                            comment: 'test (view history)',
                        },
                        {
                            server: 'AU',
                            login: 110098,
                            label: 'A',
                            time: '2020-06-01 00:00:00',
                            deposit: 159.1,
                            withdraw: 6.5,
                            rebate: 24,
                            drawdown: 4.4,
                            comment: 'test (view history)',
                        },
                        {
                            server: 'AU',
                            login: 210098,
                            label: 'B',
                            time: '2020-06-01 00:00:00',
                            deposit: 159.1,
                            withdraw: 6.5,
                            rebate: 24,
                            drawdown: 4.4,
                            comment: 'test (view history)',
                        },
                        {
                            server: 'AU',
                            login: 310098,
                            label: '',
                            time: '2020-06-01 00:00:00',
                            deposit: 159.1,
                            withdraw: 6.5,
                            rebate: 24,
                            drawdown: 4.4,
                            comment: 'test (view history)',
                        },
                        {
                            server: 'AU',
                            login: 34098,
                            label: 'C',
                            time: '2020-06-01 00:00:00',
                            deposit: 159.1,
                            withdraw: 6.5,
                            rebate: 24,
                            drawdown: 4.4,
                            comment: 'test (view history)',
                        }
                    ],
                }
            },
        })
    </script>
</body>

</html>